body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    transition: .3s ease all;
}
body.dark{
    background: #000;
    color: #f1f1f1;
}

body.dark .table {
    color: #fff;
}

.btn-abrir-popup{
    padding: 0 20px;
    margin: 10px 0px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}
.btn-abrir-popup:hover{
    background: rgba(94, 125, 227, .9);
}

/*------Popup------------------*/
.overlay {
    background: rgba(0, 0, 0, .3);
    position: fixed;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
}
.popup{
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
    border-radius: 3px;
    font-family: sans-serif;
    padding: 20px;
    margin: auto;
    text-align: center;
    width: 500px;
    opacity: 0;
    transition: .3s ease all;    
}
body.dark .popup{
    color: #000;
}

.popup .btn-cerrar-popup{
    font-size: 16px;
    line-height: 16px;
    display: block;
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
    color: #0000;
}


.popup form .contenedor-inputs input{
    width: 90%;
    margin-bottom: 20px;
    height: 45px;
    line-height: 52px;
    border: 1px solid #BBBBBB;
    
}

.popup form .btn-submit{
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: none;
    color: #fff;
    background: #5E7DE3;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup.active{
    opacity: 1;
}

/*-------------------Switch-------------------------*/
.switch{
    background:#343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display:flex;
    outline: none;
}
.switch::after{
    content: "";
    display: block;
    width:30px;
    height: 30px;
    position: absolute;
    background-color: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .2);
}
.switch.active{
    background: rgb(255, 165, 0);
    color:#0000;
}
.switch.active::after{
    right: 0;
    left: unset;
}
.switch > span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}
/*--------------------------Title-------*/
.title{
    margin-top: 5px;
    text-align: center;
}

/*-----------------------Carousel----------------------*/
.carousel {
    margin-top: 20px;
}
/*-----------------------torneos---------*/
.banner img{
    width: 100%;
    height: 80%;
}
.flotante{
    background: rgba(0, 0, 0, .3);
    position: fixed;
    margin-left: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.flotante.active{
    visibility: visible;
}

.float-left{
    float: left;
}
.search{
    margin-bottom: 5px;
}
.float-right{
    float: right
}

.table-responsive{
    margin: 5px;
    display: block;
    width: 100%;
    overflow-x: auto;
}
.row{
    margin: 20px;
}

.barra_lateral{
    padding-top: 1%;
    background-color: #000;
    color: white;
    height: 50%;
}
ul{
    list-style-type: none;
}

.overlay_tor {
    background: rgba(253, 253, 253, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.overlay_tor.active{
    visibility: visible;
}